.main_card {
 align-items: center;
 background-color: white;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
 transition: transfom .3s ease;
 padding-top: 5px;
 padding-bottom: 5px;
 
  }
 
.main_card:hover  {
transform: scale(1.1);
}

.card_image {
  background-color: #f1f1f1;
  color: gray;
  content: attr(card_image); 
  display: inline-block; 
  border-radius: 50%; 
  vertical-align: middle; 
  margin-right: 0.5em; 
  width: 50px; 
  height: 50px; 
  line-height: 50px; 
  text-align: center; 
}

.card_title{
  font-size: 10px;
  font-weight: bolder;
  padding: 5px;
}

.card_user  {
  font-size: 10px;
  color: gray;
  padding: 5px;
  text-transform: lowercase;
}

.card_email {
  font-size: 10px;
  color: #2f80ed;
  padding: 5px;
  text-transform: lowercase;
}

@media (min-width: 768px) {
.card_title {
    font-size: 1em;
  }
.card_user {
    font-size: 1em;
  }
.card_email {
    font-size: 1em;
  }
}