.HomePage {
 background-color: #f1f1f1;
 padding: 30px;
 text-align: center;
 justify-items: center
}

.HomePage > h1  {
   font-size: 20px;
   text-align: left;
   }

.cards_container {
display: grid;
grid-template-columns: repeat(1, 1fr);
gap: 5px;
}

@media (min-width: 350px) {
   .cards_container {
   grid-template-columns: repeat(2, 1fr);
   gap: 5px;
   }
   .HomePage > h1  {
      font-size: 1em;
      text-align: justify;
      }
   }

@media (min-width: 700px) {
   .cards_container {
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
   }
   .HomePage > h1  {
      font-size: 2em;
      text-align: justify;
      }
   }

   @media (min-width: 1200px) {
      .cards_container {
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;  
      }
      .HomePage > h1  {
         font-size: 2em;
         text-align: justify;
         }
      }